In [2]:
import pandas as pd
from preprocessing_utilites import NumericalPreprocessingToolkit

# Load the dataset
df = pd.read_csv(
    './data/airbnb/Airbnb Data/Listings.csv', encoding='ISO-8859-1')

# Show a preview of the data to verify
df.head()

/tmp/ipykernel_47083/998326044.py:5: DtypeWarning: Columns (5,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [3]:
columns_to_process = [
    'accommodates', 'bedrooms', 'price', 'minimum_nights', 'maximum_nights',
    'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness',
    'review_scores_checkin', 'review_scores_communication', 'review_scores_location',
    'review_scores_value'
]

toolkit = NumericalPreprocessingToolkit(df)

df_missing_handled = toolkit.handle_missing_values(
    columns=columns_to_process, method='mean')
print("DataFrame after Handling Missing Values:")
df_missing_handled.head()

DataFrame after Handling Missing Values:

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,2.0,1125.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,2.0,1125.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,2.0,1125.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,2.0,1125.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,2.0,1125.0,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [4]:
df_standardized = toolkit.standardize(columns=columns_to_process)
print("\nDataFrame after Standardization:")
df_standardized.head()

DataFrame after Standardization:

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,-0.191979,-0.00363,0.832562,0.782519,0.83627,0.755162,0.754943,0.77098,0.834773,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,-0.191979,-0.00363,0.832562,0.782519,0.83627,0.755162,0.754943,0.77098,0.834773,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,-0.191979,-0.00363,0.832562,0.782519,0.83627,0.755162,0.754943,0.77098,0.834773,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,-0.191979,-0.00363,0.832562,0.782519,0.83627,0.755162,0.754943,0.77098,0.834773,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,-0.191979,-0.00363,0.832562,0.782519,0.83627,0.755162,0.754943,0.77098,0.834773,f

In [5]:

df_normalized = toolkit.normalize(
    columns=columns_to_process, feature_range=(0, 1))
print("\nDataFrame after Normalization:")
df_normalized.head()

DataFrame after Normalization:

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,0.0001,5.234033e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,0.0001,5.234033e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,0.0001,5.234033e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,0.0001,5.234033e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,0.0001,5.234033e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f

In [6]:
from preprocessing_utilites import CategoricalUtilityToolkit

# Initialize the toolkit with the DataFrame
cat_toolkit = CategoricalUtilityToolkit(df_normalized)

# List of categorical columns we want to process
categorical_columns = [
    'name', 'host_location', 'host_response_time', 'host_is_superhost',
    'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
    'district', 'city', 'property_type', 'room_type'
]

# 1. Handling Missing Values in Categorical Columns
df_no_missing = cat_toolkit.handle_missing(columns=categorical_columns)
print("DataFrame after handling missing values:")
df_no_missing[categorical_columns].head()

DataFrame after handling missing values:

,name,host_location,host_response_time,host_is_superhost,host_has_profile_pic,host_identity_verified,neighbourhood,district,city,property_type,room_type
0,"Beautiful Flat in le Village Montmartre, Paris","Paris, Ile-de-France, France",0,f,t,f,Buttes-Montmartre,0,Paris,Entire apartment,Entire place
1,39 mÃÂ² Paris (Sacre CÃ âur),"Paris, Ile-de-France, France",0,f,t,t,Buttes-Montmartre,0,Paris,Entire apartment,Entire place
2,"Lovely apartment with Terrace, 60m2","Paris, Ile-de-France, France",0,f,t,f,Elysee,0,Paris,Entire apartment,Entire place
3,Cosy studio (close to Eiffel tower),"Paris, Ile-de-France, France",0,f,t,t,Vaugirard,0,Paris,Entire apartment,Entire place
4,Close to Eiffel Tower - Beautiful flat : 2 rooms,"Paris, Ile-de-France, France",0,f,t,f,Passy,0,Paris,Entire apartment,Entire place

In [7]:

# 2. Label Encoding for Categorical Columns
# We'll label encode columns with few distinct categories, such as `room_type` and `host_is_superhost`.
label_encode_columns = ['room_type', 'host_is_superhost']
df_label_encoded = cat_toolkit.label_encode(columns=label_encode_columns)
print("\nDataFrame after label encoding:")
df[label_encode_columns] = df_label_encoded[label_encode_columns]
df_label_encoded[label_encode_columns].head()

DataFrame after label encoding:

   room_type  host_is_superhost
0          0                  1
1          0                  1
2          0                  1
3          0                  1
4          0                  1

In [8]:

# 3. One-Hot Encoding for Categorical Columns
# We'll apply one-hot encoding to multi-category columns such as `city` and `property_type`.
one_hot_columns = ['city', 'property_type']
df_one_hot_encoded = cat_toolkit.one_hot_encode(columns=one_hot_columns)
print("\nDataFrame after one-hot encoding:")
df = df_one_hot_encoded
df_one_hot_encoded.head()

DataFrame after one-hot encoding:

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,property_type_Shared room in townhouse,property_type_Shared room in villa,property_type_Shared room in yurt,property_type_Tent,property_type_Tiny house,property_type_Tipi,property_type_Train,property_type_Treehouse,property_type_Windmill,property_type_Yurt
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,False,False,False,False,False,False,False,False,False,False
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,False,False,False,False,False,False,False,False,False,False
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,False,False,False,False,False,False,False,False,False,False
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,False,False,False,False,False,False,False,False,False,False
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,False,False,False,False,False,False,False,False,False,False

In [9]:

# 4. Handling Rare Categories
# We handle rare categories in columns like `host_location` and `neighbourhood`.
rare_category_columns = ['host_location', 'neighbourhood']
df_rare_handled = cat_toolkit.handle_rare_categories(
    columns=rare_category_columns, threshold=0.05)
print("\nDataFrame after handling rare categories:")
df[rare_category_columns] = df_rare_handled[rare_category_columns]
df_rare_handled[rare_category_columns].head()

DataFrame after handling rare categories:

                  host_location neighbourhood
0  Paris, Ile-de-France, France          Rare
1  Paris, Ile-de-France, France          Rare
2  Paris, Ile-de-France, France          Rare
3  Paris, Ile-de-France, France          Rare
4  Paris, Ile-de-France, France          Rare

In [10]:
from preprocessing_utilites import NLPUtilityToolkit
nlp_toolkit = NLPUtilityToolkit()

# Apply various NLP operations
df = nlp_toolkit.tokenize(df_rare_handled, 'name')
df.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,word_tokenize_name
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,5.234033e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Beautiful, Flat, in, le, Village, Montmartre,..."
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,5.234033e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[39, mÃÂ², Paris, (, Sacre, CÃ, âur, )]"
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,5.234033e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Lovely, apartment, with, Terrace, ,, 60m2]"
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,5.234033e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Cosy, studio, (, close, to, Eiffel, tower, )]"
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,5.234033e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Close, to, Eiffel, Tower, -, Beautiful, flat,..."

In [ ]:
df = nlp_toolkit.pos_tagging(df, 'name')
df.head()

In [12]:
df = nlp_toolkit.stemming(df, 'name')
df.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,word_tokenize_name,<lambda>_name
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Beautiful, Flat, in, le, Village, Montmartre,...","[beauti, flat, in, le, villag, montmartr, ,, p..."
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[39, mÃÂ², Paris, (, Sacre, CÃ, âur, )]","[39, mãâ², pari, (, sacr, cã, âur, )]"
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Lovely, apartment, with, Terrace, ,, 60m2]","[love, apart, with, terrac, ,, 60m2]"
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Cosy, studio, (, close, to, Eiffel, tower, )]","[cosi, studio, (, close, to, eiffel, tower, )]"
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Close, to, Eiffel, Tower, -, Beautiful, flat,...","[close, to, eiffel, tower, -, beauti, flat, :,..."

In [14]:
df = nlp_toolkit.lemmatization(df, 'name')
df.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,word_tokenize_name,<lambda>_name
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Beautiful, Flat, in, le, Village, Montmartre,...","[Beautiful, Flat, in, le, Village, Montmartre,..."
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[39, mÃÂ², Paris, (, Sacre, CÃ, âur, )]","[39, mÃÂ², Paris, (, Sacre, CÃ, âur, )]"
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Lovely, apartment, with, Terrace, ,, 60m2]","[Lovely, apartment, with, Terrace, ,, 60m2]"
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Cosy, studio, (, close, to, Eiffel, tower, )]","[Cosy, studio, (, close, to, Eiffel, tower, )]"
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Close, to, Eiffel, Tower, -, Beautiful, flat,...","[Close, to, Eiffel, Tower, -, Beautiful, flat,..."

In [15]:
df = nlp_toolkit.parse(df, 'name')
df.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,word_tokenize_name,<lambda>_name,simple_parse_name
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Beautiful, Flat, in, le, Village, Montmartre,...","[Beautiful, Flat, in, le, Village, Montmartre,...","[{'token': 'Beautiful', 'pos': 'JJ'}, {'token'..."
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,f,"[39, mÃÂ², Paris, (, Sacre, CÃ, âur, )]","[39, mÃÂ², Paris, (, Sacre, CÃ, âur, )]","[{'token': '39', 'pos': 'CD'}, {'token': 'mÃÂ..."
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Lovely, apartment, with, Terrace, ,, 60m2]","[Lovely, apartment, with, Terrace, ,, 60m2]","[{'token': 'Lovely', 'pos': 'RB'}, {'token': '..."
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Cosy, studio, (, close, to, Eiffel, tower, )]","[Cosy, studio, (, close, to, Eiffel, tower, )]","[{'token': 'Cosy', 'pos': 'JJ'}, {'token': 'st..."
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,f,"[Close, to, Eiffel, Tower, -, Beautiful, flat,...","[Close, to, Eiffel, Tower, -, Beautiful, flat,...","[{'token': 'Close', 'pos': 'RB'}, {'token': 't..."

In [16]:
df = nlp_toolkit.sentiment_analysis(df, 'name')
df.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,word_tokenize_name,<lambda>_name,simple_parse_name,sentiment_name
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,f,"[Beautiful, Flat, in, le, Village, Montmartre,...","[Beautiful, Flat, in, le, Village, Montmartre,...","[{'token': 'Beautiful', 'pos': 'JJ'}, {'token'...",0.5994
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,f,"[39, mÃÂ², Paris, (, Sacre, CÃ, âur, )]","[39, mÃÂ², Paris, (, Sacre, CÃ, âur, )]","[{'token': '39', 'pos': 'CD'}, {'token': 'mÃÂ...",0.0000
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,f,"[Lovely, apartment, with, Terrace, ,, 60m2]","[Lovely, apartment, with, Terrace, ,, 60m2]","[{'token': 'Lovely', 'pos': 'RB'}, {'token': '...",0.5859
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,f,"[Cosy, studio, (, close, to, Eiffel, tower, )]","[Cosy, studio, (, close, to, Eiffel, tower, )]","[{'token': 'Cosy', 'pos': 'JJ'}, {'token': 'st...",0.0000
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,1.0,f,"[Close, to, Eiffel, Tower, -, Beautiful, flat,...","[Close, to, Eiffel, Tower, -, Beautiful, flat,...","[{'token': 'Close', 'pos': 'RB'}, {'token': 't...",0.5994

In [17]:
df = nlp_toolkit.preprocess_column(df, 'name')
df.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,word_tokenize_name,<lambda>_name,simple_parse_name,sentiment_name,preprocess_text_name
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,f,"[Beautiful, Flat, in, le, Village, Montmartre,...","[Beautiful, Flat, in, le, Village, Montmartre,...","[{'token': 'Beautiful', 'pos': 'JJ'}, {'token'...",0.5994,beautiful flat le village montmartre paris
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,f,"[39, mÃÂ², Paris, (, Sacre, CÃ, âur, )]","[39, mÃÂ², Paris, (, Sacre, CÃ, âur, )]","[{'token': '39', 'pos': 'CD'}, {'token': 'mÃÂ...",0.0000,39 mãâ² paris sacre cã âur
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,f,"[Lovely, apartment, with, Terrace, ,, 60m2]","[Lovely, apartment, with, Terrace, ,, 60m2]","[{'token': 'Lovely', 'pos': 'RB'}, {'token': '...",0.5859,lovely apartment terrace 60m2
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,f,"[Cosy, studio, (, close, to, Eiffel, tower, )]","[Cosy, studio, (, close, to, Eiffel, tower, )]","[{'token': 'Cosy', 'pos': 'JJ'}, {'token': 'st...",0.0000,cosy studio close eiffel tower
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",0,0.0,0.0,f,1.0,...,1.0,1.0,1.0,1.0,f,"[Close, to, Eiffel, Tower, -, Beautiful, flat,...","[Close, to, Eiffel, Tower, -, Beautiful, flat,...","[{'token': 'Close', 'pos': 'RB'}, {'token': 't...",0.5994,close eiffel tower beautiful flat 2 rooms